body{
    padding:0; margin:0;
    line-height: 1.5em;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
}
#wrapper{
    width:50%;
    margin:0 auto;
}
#wrapper-inner{
    width:100%;
    float:left;
}
header{
    width:100%;
    float:left;
    text-align: center;
}
article{
    width:96%;
    float:left;
    margin-top:14px;
    background-color:#F30021;
    box-shadow: 0 0 14px #000;    
    padding:2%;
    border-radius: 18px;  
    font-weight: bold;  
}
#content-title{
    float:left;
    width:100%;
    color:#fff;
    text-align: center;
    font-size:18px;
}
#content-text{
    float:left;
    width:100%;
    margin-top:14px;
    color:#34D800;
    text-align: justify;
}
#content-footer{
    margin-top:14px;
    padding:10px 0 10px 0;
    color:#00CC66;
    text-align: center;
    width:100%;
    float:left;
    font-weight:bold;
    border-top:solid 1px #ccc;
}